@import url('https://fonts.googleapis.com/css2?family=Flavors&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Puddles&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Flavors&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    font-size: 62.5%;
    height: 100%;
}
.body{
    background-color: #fff8e1;
    
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.main{
    flex: 1;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem 1%;
}
.logo{
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    margin-right: auto;
}
.navbar{
    padding: 3rem 10rem;
    width: 100%;
    height: 2rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #4e342e;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 1rem;
    font-family: "Flavors", cursive;
    font-weight: 400;
    font-style: normal;
}
.links{
    display: flex;
    justify-content: center;
    gap: 3em;
    margin-right: 20em;
    list-style: none;
    
}
.links a{
    width: 2rem;
    height: 2rem;
    color: #ffe0b2;
    font-size: 6rem;
    padding: .5rem 1.5rem;
    border-radius: 3rem;
    transition: all .3s ease-in;
    font-size: 2rem;
    text-decoration: none;
    transform: scale(.5);
}
.links a:hover{
    color: #f8bbd0;
    transform: scale(.5);
    background-color: #450920;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.links a:focus{
    transform: scale(.5);
}
.name{
    font-size: 3rem;
    display: flex;
    align-items: start;
    color: #f8bbd0;
    margin-right: auto;
    font-family: "Rubik Puddles", system-ui;
    font-weight: 400;
    font-style: normal;
}
.imgs{
    display: flex;
    gap: 1rem;
    justify-content: flex-end;
    flex-direction: column-reverse;
    cursor: pointer;
    margin-left: 100%;
}
.big{
    height: 44rem;
    width: 35rem;
    border-radius: 50%;
    box-shadow: rgba(14, 30, 37, 0.334) 0px 2px 4px 0px, rgba(14, 30, 37, 0.312) 0px 2px 16px 0px;
}
.big:hover{
    box-shadow: rgba(255, 100, 240, 0.334) 0px 2px 4px 0px, rgba(225, 100, 240, 0.334) 0px 2px 16px 0px;
    color: white;
}
.big2{
    height: 44rem;
    width: 35rem;
    border-radius: 50%;
    box-shadow: rgba(14, 30, 37, 0.334) 0px 2px 4px 0px, rgba(14, 30, 37, 0.312) 0px 2px 16px 0px;
}
.big2:hover{
    box-shadow: rgba(255, 100, 240, 0.334) 0px 2px 4px 0px, rgba(225, 100, 240, 0.334) 0px 2px 16px 0px;
}
.small{
    height: 33.5rem;
    width: 35rem;
    align-self: flex-end;
    border-radius: 50%;
    box-shadow: rgba(14, 30, 37, 0.334) 0px 2px 4px 0px, rgba(14, 30, 37, 0.312) 0px 2px 16px 0px;
}
.small:hover{
    box-shadow: rgba(255, 100, 240, 0.334) 0px 2px 4px 0px, rgba(225, 100, 240, 0.334) 0px 2px 16px 0px;
}
.bigs{
    display: flex;
    justify-content: space-between;
    align-self: flex-end;
    gap: 3rem;
}
.info{ 
    background-color: #4e342e;
    width: 100%;
    position: absolute;
    bottom: 0;
    padding: 1rem 1rem;
    font-size: 2rem;
    box-shadow: 0 -.3rem 1rem .3rem rgba(0, 0, 0, 0.24);
    color: #f8bbd0;
    display: flex;
    justify-content: space-between;
    padding: .5rem 2%;
    font-family: "Flavors", cursive;
    font-weight: 400;
    font-style: normal;
}
.description{
    border: none;
    display: flex;
    justify-content: flex-start;
    height: .5rem;
    width: .25rem;
    color: #6d4c41;
}
.explanation{
    font-size: 3rem;
    margin: 5rem;
    padding: 4rem;
    font-family: "Flavors", cursive;
    font-weight: 400;
    font-style: normal;
}
@media only screen and (max-width: 1085px) {
  .navbar {
    font-size: .35rem;
  }
}
@media only screen and (max-width: 1003px) {
  .navbar {
    font-size: .3rem;
  }
}
@media only screen and (max-width: 992px) {
  .big{
    height: 40rem;
    width: 31rem;
    border-radius: 50%;
    box-shadow: rgba(14, 30, 37, 0.334) 0px 2px 4px 0px, rgba(14, 30, 37, 0.312) 0px 2px 16px 0px;
  }
  .big2{
    height: 40rem;
    width: 31rem;
    border-radius: 50%;
    box-shadow: rgba(14, 30, 37, 0.334) 0px 2px 4px 0px, rgba(14, 30, 37, 0.312) 0px 2px 16px 0px;
  }
  .small{
    height: 30rem;
    width: 31rem;
    align-self: flex-end;
    border-radius: 50%;
    box-shadow: rgba(14, 30, 37, 0.334) 0px 2px 4px 0px, rgba(14, 30, 37, 0.312) 0px 2px 16px 0px;
  }
  .explanation{
    font-size: 2.75rem;
  }
  .name{
    font-size: 2rem;
  }
}
@media only screen and (max-width: 897px) {
  .navbar{
    font-size: .15rem;
  }
  .big{
    height: 37rem;
    width: 27rem;
    border-radius: 50%;
    box-shadow: rgba(14, 30, 37, 0.334) 0px 2px 4px 0px, rgba(14, 30, 37, 0.312) 0px 2px 16px 0px;
  }
  .big2{
    height: 37rem;
    width: 27rem;
    border-radius: 50%;
    box-shadow: rgba(14, 30, 37, 0.334) 0px 2px 4px 0px, rgba(14, 30, 37, 0.312) 0px 2px 16px 0px;
  }
  .small{
    height: 30rem;
    width: 30rem;
    align-self: flex-end;
    border-radius: 50%;
    box-shadow: rgba(14, 30, 37, 0.334) 0px 2px 4px 0px, rgba(14, 30, 37, 0.312) 0px 2px 16px 0px;
  }
  .explanation{
    font-size: 3rem;
    margin: 6.5rem;
    padding: 5.5rem;
  }  
}
@media only screen and (max-width: 854px) {
  .navbar {
    font-size: .1rem;
  }
  .logo{
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
  }
  .explanation{
    font-size: 3rem;
    margin: 6rem;
    padding: 5rem;
  }  
}
@media only screen and (max-width: 842px) {
  .big{
    width: 26rem;
    height: 36rem;
    border-radius: 50%;
    box-shadow: rgba(14, 30, 37, 0.334) 0px 2px 4px 0px, rgba(14, 30, 37, 0.312) 0px 2px 16px 0px;
  }
  .big2{
    width: 26rem;
    height: 36rem;
    border-radius: 50%;
    box-shadow: rgba(14, 30, 37, 0.334) 0px 2px 4px 0px, rgba(14, 30, 37, 0.312) 0px 2px 16px 0px;
  }
  .small{
    width: 28rem;
    height: 28rem;
    box-shadow: rgba(14, 30, 37, 0.334) 0px 2px 4px 0px, rgba(14, 30, 37, 0.312) 0px 2px 16px 0px;
  }
  .bigs{
    gap: 2rem;
  }
  .explanation{
    font-size: 3rem;
    margin: 5rem;
    padding: 4rem;
  }  
}
@media only screen and (max-width: 829px) {
  .navbar{
    font-size: .01rem;
  }
}
